## Aula 05 - Introdução ao list comprehension e format

Nessa aula iremos dar introdução ao list compression, uma forma mais simples de realizar conversões de valores entra duas ou mais listas. Atualmente é uma das formas mais rápidas de aplicar conversões, substituindo as declarações mais extensas do que o método convencional, lambda e o map

## Exemplo 1 - Conversão de Celcius para Fahrenheit

In [107]:
celcius = [10, 20, 24, 35, 50]
fahrenheit = [round(x*1.8+32,2) for x in celcius]

x = 0
while(x<len(celcius)):
    print("{:<8}{:<6}".format(celcius[x], fahrenheit[x]))
    x += 1

10      50.0
20      68.0
24      75.2
35      95.0
50      122.0

## Exemplo 2 - Conversão de Kmh para Mph

In [108]:
kmh = [100, 25, 70, 80, 180]
mph = [round(x/1.61,2) for x in kmh]

x = 0 
while(x<len(kmh)):
    print("{:<6}{:<6}".format(kmh[x], mph[x]))
    x += 1

100   62.11
25    15.53
70    43.48
80    49.69
180   111.8

In [109]:
celcius = [100,20,24,35,50]
fahrenheit = [round(x*1.8+32,2) for x in celcius]

## Exercício 1

Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegadas, pés, jardas e milhas marítimas, listando o número da linha e o cabeçalho da tabela.

In [114]:
metros = [100, 90, 80, 70, 60, 50, 40, 20, 10, 1]
polegadas = [round(x*39.37, 2) for x in metros] 
pes = [round(x*3.281, 2) for x in metros] 
jardas = [round(x*1.094, 2) for x in metros] 
milhas_maritimas = [round(x*1852) for x in metros] 

x = 0
y = 0
print("{:<15}{:<15}{:<15}{:<15}{:<15}{}".format("Número", "Metros", "Polegadas", "Pés", "Jardas", "Milhas Marítimas"))
print("===========================================================================================")
while(x<len(metros)):
    y += 1
    print("{:<15}{:<15}{:<15}{:<15}{:<15}{}".format(y, metros[x], polegadas[x], pes[x], jardas[x], milhas_maritimas[x]))
    x += 1

Número         Metros         Polegadas      Pés            Jardas         Milhas Marítimas
===========================================================================================
1              100            3937.0         328.1          109.4          185200
2              90             3543.3         295.29         98.46          166680
3              80             3149.6         262.48         87.52          148160
4              70             2755.9         229.67         76.58          129640
5              60             2362.2         196.86         65.64          111120
6              50             1968.5         164.05         54.7           92600
7              40             1574.8         131.24         43.76          74080
8              20             787.4          65.62          21.88          37040
9              10             393.7          32.81          10.94          18520
10             1              39.37          3.28           1.09           1852

## Exercício 2

Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para celcius e fahrenheit, listando o número da linha e o cabeçalho da tabela.

In [112]:
kelvin = [430, 400, 330, 300, 230, 200, 130, 100, 90, 30]
celcius = [round(x - 273,2) for x in kelvin] 
fahrenheit = [round(x*1.8 - 459.67,2) for x in kelvin] 

x = 0
y = 0
print("{:<15}{:<15}{:<15}{}".format("Número", "Kelvin", "Celcius", "Fahrenheit"))
print("=======================================================")
while(x<len(metros)):
    y += 1
    print("{:<15}{:<15}{:<15}{}".format(y, kelvin[x], celcius[x], fahrenheit[x]))
    x += 1

Número         Kelvin         Celcius        Fahrenheit
=======================================================
1              430            157            314.33
2              400            127            260.33
3              330            57             134.33
4              300            27             80.33
5              230            -43            -45.67
6              200            -73            -99.67
7              130            -143           -225.67
8              100            -173           -279.67
9              90             -183           -297.67
10             30             -243           -405.67

## Exercício 3

Crie uma lista com 10 pesos em kilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercício passados.

In [113]:
quilos = [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
terra = [round(x*9.8, 2) for x in quilos]
lua = [round(x*1.6) for x in quilos]
jupiter = [round(x*2.64) for x in quilos]
saturno = [round(x*1.15) for x in quilos]
mercurio = [round(x*0.37) for x in quilos]

x = 0
y = 0
print("{:<15}{:<15}{:<15}{:<15}{:<15}{}".format("Número", "Terra", "Lua", "Júpiter", "Saturno", "Mercúrio"))
print("===================================================================================")
while(x<len(metros)):
    y += 1
    print("{:<15}{:<15}{:<15}{:<15}{:<15}{}".format(y, terra[x], lua[x], jupiter[x], saturno[x], mercurio[x]))
    x += 1

Número         Terra          Lua            Júpiter        Saturno        Mercúrio
===================================================================================
1              980.0          160            264            115            37
2              882.0          144            238            103            33
3              784.0          128            211            92             30
4              686.0          112            185            80             26
5              588.0          96             158            69             22
6              490.0          80             132            57             18
7              392.0          64             106            46             15
8              294.0          48             79             34             11
9              196.0          32             53             23             7
10             98.0           16             26             12             4